version: "3.8"
services:
  scanner:
    image: ghcr.io/ilpeppino/barcode-scanner:stable # or :latest / :v1.3.0
    restart: unless-stopped
    env_file:
      - /volume1/NAS Shared Folder/secrets/barcode-scanner/.env
    volumes:
      - ./docs:/app/docs:ro
      - ./static/templates:/app/static/templates:ro
    ports:
      - "5050:5000"
